<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeyancy.cn.mapper.OrderitemMapper" >
  <resultMap id="BaseResultMap" type="com.codeyancy.cn.entity.Orderitem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="good_num" property="goodNum" jdbcType="INTEGER" />
    <result column="good_money" property="goodMoney" jdbcType="DOUBLE" />
    <result column="good_id" property="goodId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, good_num, good_money, good_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.codeyancy.cn.entity.OrderitemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orderitem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.codeyancy.cn.entity.OrderitemExample" >
    delete from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.codeyancy.cn.entity.Orderitem" >
    insert into orderitem (id, order_id, good_num, 
      good_money, good_id)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{goodNum,jdbcType=INTEGER}, 
      #{goodMoney,jdbcType=DOUBLE}, #{goodId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.codeyancy.cn.entity.Orderitem" >
    insert into orderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodNum != null" >
        good_num,
      </if>
      <if test="goodMoney != null" >
        good_money,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodNum != null" >
        #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="goodMoney != null" >
        #{goodMoney,jdbcType=DOUBLE},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.codeyancy.cn.entity.OrderitemExample" resultType="java.lang.Integer" >
    select count(*) from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderitem
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.goodNum != null" >
        good_num = #{record.goodNum,jdbcType=INTEGER},
      </if>
      <if test="record.goodMoney != null" >
        good_money = #{record.goodMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.goodId != null" >
        good_id = #{record.goodId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderitem
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      good_num = #{record.goodNum,jdbcType=INTEGER},
      good_money = #{record.goodMoney,jdbcType=DOUBLE},
      good_id = #{record.goodId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.codeyancy.cn.entity.Orderitem" >
    update orderitem
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodNum != null" >
        good_num = #{goodNum,jdbcType=INTEGER},
      </if>
      <if test="goodMoney != null" >
        good_money = #{goodMoney,jdbcType=DOUBLE},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codeyancy.cn.entity.Orderitem" >
    update orderitem
    set order_id = #{orderId,jdbcType=BIGINT},
      good_num = #{goodNum,jdbcType=INTEGER},
      good_money = #{goodMoney,jdbcType=DOUBLE},
      good_id = #{goodId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>